<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" layout:decorate="~{./fragments/_layout}">
<head>
    <title>Gadget bay</title>
</head>
<body>
    <div layout:fragment="breadcrumb" class="py-5 bg-light-v2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>Product details</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end bg-transparent">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/products/}"> Shop</a>
                        </li>
                        </li>
                        <li class="breadcrumb-item"> Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content">

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mr-auto mt-4">
                        <div class="border border-light p-5">
                            <img class="w-100" th:src="'/resources/' + ${product.imageUrl}" th:alt="${product.title}">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div sec:authorize="hasAuthority('SELLER')" th:if="${product.user.id == session.loggedInUser.id}" class="mb-4">
                            <a th:href="@{'/products/edit/' + ${product.id}}" class="btn btn-outline-primary mx-1">Edit product</a>
                            <button id="btnPromote" href="#" th:onclick="'return promoteProduct(' + ${product.id} + ')'" class="btn btn-outline-primary mx-1 has-spinner">Promote product</button>
                        </div>

                        <input type="hidden" id="productId" th:value="${product.id}">
                        <h2 th:text="${product.title}"></h2>
                        Seller :
                        <div th:text="${product.user.firstName}" th:remove="tag">Seller</div>


                        <div th:if="${isFollowing != null}">
                            <a href="#" th:if="${!isFollowing}" class="text-dark" th:href="@{'/user/follow/'+${product.user.id}}">Follow</a>
                            <a href="#" th:if="${isFollowing}" class="text-dark" th:href="@{'/user/unfollow/'+${product.user.id}}">Unfollow</a>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">3 customer reviews</li>
                        </ul>
                        <h4 th:if="${product.discount} > 0" class="mb-3">
                            <span class="text-primary" th:text="${#numbers.formatDecimal(product.price - (product.price / 100) * product.discount, 0, 'COMMA', 2, 'POINT')}">$0</span>
                            <span class="text-gray"><s th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">$0</s></span>
                        </h4>
                        <h4 th:if="${product.discount} == 0" class="mb-3">
                            <span class="text-primary" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">$0</span>
                        </h4>
                        <p th:if="${product.availableCount > 0}"><i class="fas fa-check-circle text-success mr-2"></i><span th:text="${product.availableCount}"></span> item(s) available on stock</p>
                        <p th:if="${product.availableCount == 0}"><i class="fas fa-times-circle danger mr-2"></i>Out of stock</p>
                        <div class="mb-2">
                            <h4>Description</h4>
                            <div th:text="${product.description}" class="mt-3"></div>
                        </div>

                        <div class="d-md-flex">
                            <div class="input-group ec-touchspin mb-2 mr-3 width-10rem">
                                <div class="ec-touchspin__minus input-group-prepend">
                                    <span class="input-group-text ti ti-minus bg-white"></span>
                                </div>
                                <input id="quantity" class="ec-touchspin__result form-control bg-white text-center" type="text" value="1">
                                <div class="input-group-append">
                                    <span class="ec-touchspin__plus input-group-text ti-plus bg-white"></span>
                                </div>
                            </div>
                            <button id="btnAddToCart" class="btn btn-primary btn-icon mb-2 mr-3 has-spinner"><i class="ti-shopping-cart mr-2"></i> Add to card</button>
                        </div>
                        <ul class="list-inline my-3">
                            <li class="list-inline-item">Payment:</li>
                            <li class="list-inline-item"><img src="/img/shop/payment/paypal.jpg" alt=""></li>
                            <li class="list-inline-item"><img src="/img/shop/payment/mastro.jpg" alt=""></li>
                            <li class="list-inline-item"><img src="/img/shop/payment/mastercard.jpg" alt=""></li>
                            <li class="list-inline-item"><img src="/img/shop/payment/visa.jpg" alt=""></li>
                            <li class="list-inline-item"><img src="/img/shop/payment/ae.jpg" alt=""></li>
                        </ul>
                    </div>
                </div> <!-- END row-->
            </div> <!-- END container-->
        </section>

        <section class="padding-y-100 bg-light-v2">
            <div class="container">
                <div class="list-card p-4 shadow-v1">
                    <div class="col-12">
                        <h4 class="mb-4">Reviews</h4>

                        <div th:each="review : ${reviews}">
                            <div class="row border-bottom mx-0 py-4 mt-4">
                                <div class="col-md-3 my-2 media">
                                    <div class="media-body ml-4">
                                        <h6 th:text="${review.user.firstName + ' ' + review.user.lastName}">User Name</h6>
                                        <small th:text="${review.reviewDate.toLocaleString()}" class="text-gray">7 min ago</small>
                                    </div>
                                </div>
                                <div class="col-md-9 my-2">
                                    <p th:text="${review.body}"></p>
                                </div>
                            </div> <!-- END row-->
                        </div>

                        <div th:if="${reviews == null || reviews.size() == 0}" class="row border-bottom mx-0 py-4 mt-4 text-center">
                            <div sec:authorize="isAuthenticated()">
                                Be the first who leave review for this product
                            </div>
                        </div>

                        <div sec:authorize="!isAuthenticated()" class="mx-auto py-4 mt-4">
                            Please log in to leave comment
                        </div>

                        <div sec:authorize="isAuthenticated()" class="row mt-5" id="divReview">
                            <div class="col-12">
                                <h4>Leave Review</h4>
                            </div>
                            <div class="col-12 mt-3">
                                <label>Comment</label>
                                <textarea class="form-control" rows="3" id="tbxReview"></textarea>
                                <button id="btnAddReview" class="btn btn-primary mt-4 has-spinner" onclick="addReview()">Publish Review</button>
                            </div>
                        </div>

                    </div> <!-- END col-12 -->
                </div> <!-- END list-card-->
            </div> <!-- END container-->
        </section>

    </section>

    <script layout:fragment="scripts">
        $(function () {
            $("#btnAddToCart").on('click', addToCart);
            checkIfIsPromoted();
        });

        function checkIfIsPromoted() {
            $.ajax({
                type: "POST",
                url: "/products/isPromoted/" + $("#productId").val(),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        $("#btnPromote").attr("disabled", true);
                        $("#btnPromote").removeClass("btn-outline-primary")
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.responseJSON);
                }
            });
        }

        function addToCart() {
            $("#btnAddToCart").buttonLoader('start');

            const data = JSON.stringify({
                productId: $("#productId").val(),
                quantity: 1
            });

            $.ajax({
                type: "PUT",
                url: "/shoppingcart/?productId=" + $("#productId").val() + "&quantity=" + $("#quantity").val(),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    if (ProceedResult(data)) {
                        NotificationSuccess("Product successfully added")
                        showMenuShoppingCart(data.value);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest.responseJSON);
                },
                complete: function () {
                    $("#btnAddToCart").buttonLoader('stop', 'ti-shopping-cart mr-2');

                }
            });
        }

        function promoteProduct(productId) {
            $("#btnPromote").buttonLoader('start');
            $.ajax({
                type: "POST",
                url: "/products/promote/" + productId,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $("#btnPromote").buttonLoader('stop');
                    console.log(data);
                    if (ProceedResult(data)) {
                        NotificationSuccess("Product promote request created successfully");
                        $("#btnPromote").attr("disabled", true);
                        $("#btnPromote").removeClass("btn-outline-primary")
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btnPromote").buttonLoader('stop');
                    console.log(XMLHttpRequest.responseJSON);
                }
            });

            return false;
        }

        function addReview() {
            $("#btnAddReview").buttonLoader('start');
            const addReviewModel = {
                productId: $("#productId").val(),
                body: $("#tbxReview").val()
            };

            $.ajax({
                type: "POST",
                url: "/review/add/",
                data: JSON.stringify(addReviewModel),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    $("#btnAddReview").buttonLoader('stop');
                    console.log(data);
                    if (ProceedResult(data)) {
                        // NotificationSuccess("Review saved successfully. It will shown after administrator approval.");
                        // $("#tbxReview").val("");
                        showReviewSuccess();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btnAddReview").buttonLoader('stop');
                    console.log(XMLHttpRequest.responseJSON);
                }
            });
        }

        function showReviewSuccess() {
            $("#divReview").empty();
            const divRoot = $("<div>").addClass("alert border border-success px-4 py-3 alert-dismissible fade show mx-auto").attr("style", "width: 600px").attr("role", "alert");
            const divInner = $("<div>").addClass("media align-items-center")
                .append($("<div>").addClass("iconbox iconbox-sm bg-success text-white mr-3").append($("<i>").addClass("ti-heart")))
                .append($("<div>").addClass("media-body")
                    .append($("<div>").addClass("d-flex justify-content-between mr-4")
                        .append($("<strong>").text(" Review saved successfully"))
                        .append($("<small>").text("A moment ago")))
                    .append($("<p>").addClass("mb-0").text("It will shown after administrator approval"))
                );
            divRoot.append(divInner);
            divRoot.append($("<button>").addClass("close font-size-14").attr("type", "button").attr("data-dismiss", "alert").attr("aria-label", "Close")
                .append("<i>").addClass("ti-close"));
            $("#divReview").append(divRoot);
        }

    </script>
</body>
</html>