<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{./fragments/_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign in</title>
</head>
<body>
<section class="padding-y-100 bg-light" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-primary display-1">Access Denied</h1>
                <h2 class="mb-4">
                    Sorry! Your Access is Denied <i class="fas fa-frown text-warning" aria-hidden="true"></i>
                </h2>
                <p>
                    Please contract your administrator.
                </p>
            </div>
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>
</body>
</html>