<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{./fragments/_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<section class="padding-y-100 border-bottom border-light bg-light" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card shadow-v1">
                    <div class="card-header text-center border-bottom pt-5 mb-4">
                        <img class="rounded-circle mb-4" src="/img/262x230/6.jpg" width="200" height="200" alt="">
                        <h4 th:text="${loggedInUser.firstName} + ' ' + ${loggedInUser.lastName}">
                            Alex Lebby
                        </h4>
                        <p>
                            Logged in as <span th:text="${loggedInUser.role.type}"></span>
                        </p>
                        <ul class="list-inline mb-0">
                            <li sec:authorize="hasAuthority('BUYER')" class="list-inline-item m-2">
                                <i class="ti-user text-primary"></i>
                                <span class="d-block">Orders</span>
                                <span class="h6">23</span>
                            </li>
                            <li sec:authorize="hasAuthority('SELLER')" class="list-inline-item m-2">
                                <i class="ti-book text-primary"></i>
                                <span class="d-block">Products</span>
                                <span class="h6">15</span>
                            </li>
                            <li sec:authorize="hasAuthority('BUYER')" class="list-inline-item m-2">
                                <i class="ti-star text-primary"></i>
                                <span class="d-block">Reviews</span>
                                <span class="h6">10</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body border-bottom">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="d-block">Email address:</span>
                                <p class="h6" th:text="${loggedInUser.email}"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>
                            Social Profile:
                        </p>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-facebook iconbox iconbox-sm">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-twitter iconbox iconbox-sm">
                                    <i class="ti-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-google-plus iconbox iconbox-sm">
                                    <i class="ti-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-linkedin iconbox iconbox-sm">
                                    <i class="ti-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- END col-md-4 -->
            <div class="col-lg-8 mt-4">
                <div class="card shadow-v1 padding-30">
                    <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" th:class="${active} != 'true' ?'nav-link active' : 'nav-link'"
                               data-toggle="tab" href="#products" role="tab"
                               aria-selected="true">
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:class="${active} == 'true' ?'nav-link active' : 'nav-link'"
                               data-toggle="tab" href="#addresses" role="tab" aria-selected="true">
                                Addresses
                            </a>
                        </li>
                        <li class="nav-item">
                            <!--                            th:class="${payActive} == 'true' ?'nav-link active' : 'nav-link'"-->
                            <a class="nav-link"
                               data-toggle="tab" href="#payment" role="tab" aria-selected="true">
                                Payment Methods
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade"
                             th:class="${active} != 'true' ?'tab-pane fade show active' : 'tab-pane fade'" id="products"
                             role="tabpanel">
                        </div> <!-- END tab-pane -->
                        <div class="tab-pane fade"
                             th:class="${active} == 'true' ?'tab-pane fade show active' : 'tab-pane fade'"
                             id="addresses" role="tabpanel">
                            <form th:object="${shippingAddress}" th:action="@{/saveShipping}" method="POST"
                                  class="px-lg-4 mb-xl-5">
                                <div class="form-group mb-0 align-content-center" style="text-align: center">
                                    <label><h3>Shipping Address</h3></label>
                                </div>
                                <input type="hidden" class="form-control" th:field="*{id}">

                                <div class="form-group mb-0">
                                    <label>Street</label>
                                    <input type="text" class="form-control" th:field="*{street}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('street')}"
                                       th:errors="*{street}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>City</label>
                                    <input type="text" class="form-control" th:field="*{city}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('city')}"
                                       th:errors="*{city}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>State</label>
                                    <input type="text" class="form-control" th:field="*{state}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('state')}"
                                       th:errors="*{state}"></small>

                                <div class="form-group mt-3 mb-3">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" th:field="*{zipcode}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('zipcode')}"
                                       th:errors="*{zipcode}"></small>
                                <button class="btn btn-outline-primary float-right" type="submit">Add Address</button>
                            </form>

                            <br/>

                            <form th:object="${billingAddress}" th:action="@{/saveBilling}" method="POST"
                                  class="px-lg-4 mt-5">
                                <div class="form-group mb-0 align-content-center" style="text-align: center">
                                    <label><h3>Billing Address</h3></label>
                                </div>
                                <input type="hidden" class="form-control" th:field="*{id}">

                                <div class="form-group mb-0">
                                    <label>Street</label>
                                    <input type="text" class="form-control" th:field="*{street}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('street')}"
                                       th:errors="*{street}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>City</label>
                                    <input type="text" class="form-control" th:field="*{city}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('city')}"
                                       th:errors="*{city}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>State</label>
                                    <input type="text" class="form-control" th:field="*{state}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('state')}"
                                       th:errors="*{state}"></small>

                                <div class="form-group mt-3 mb-3">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" th:field="*{zipcode}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('zipcode')}"
                                       th:errors="*{zipcode}"></small>
                                <button class="btn btn-outline-primary float-right" type="submit">Add Address</button>
                            </form>
                        </div>
                        <div class="tab-pane fade"
                             th:class="${active} == 'true' ?'tab-pane fade show active' : 'tab-pane fade'" id="payment"
                             role="tabpanel">

                            <form th:object="${payment}" th:action="@{/savePayment}" method="POST" class="p-4">
                                <h4 class="mb-3">Card Type</h4>
                                <div class="mb-2">
                                    <select class="custom-select d-block w-100" th:field="*{type}">
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </div>

                                <hr class="mb-4">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-name">Name on card</label>
                                        <input type="text" class="form-control" id="cc-name" th:field="*{cardName}">
                                        <small class="text-muted">Full name as displayed on card</small>
                                        <div class="invalid-feedback">
                                            Name on card is required
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-number">Credit card number</label>
                                        <input type="text" class="form-control" id="cc-number" th:field="*{cardNumber}">
                                        <div class="invalid-feedback">
                                            Credit card number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration" th:field="*{expiration}">
                                        <div class="invalid-feedback">
                                            Expiration date required
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-cvv">CVV</label>
                                        <input type="text" class="form-control" id="cc-cvv" th:field="*{cvv}">
                                        <div class="invalid-feedback">
                                            Security code required
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-4">
<!--                                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout-->
                                <button class="btn btn-outline-primary float-right" type="submit">Add Payment</button>
                                </button>
                            </form>
                        </div>
                    </div> <!-- END tab-content-->
                </div> <!-- END card-->
            </div> <!-- END col-md-8 -->
        </div> <!--END row-->
    </div> <!--END container-->
</section>
</body>
</html>