<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{./fragments/_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<section class="padding-y-100 border-bottom border-light bg-light" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card shadow-v1">
                    <div class="card-header text-center border-bottom pt-5 mb-4">
<!--                        <img class="rounded-circle mb-4" src="/img/262x230/6.jpg" width="200" height="200" alt="">-->
                        <h4 th:text="${session.loggedInUser.firstName} + ' ' + ${session.loggedInUser.lastName}">
                            Saju Ahmad
                        </h4>
                        <p>
                            Logged in as <span th:text="${session.loggedInUser.role.type}"></span>
                        </p>
                        <ul class="list-inline mb-0">
                            <li sec:authorize="hasAuthority('BUYER')" class="list-inline-item m-2">
                                <i class="ti-user text-primary"></i>
                                <span class="d-block">Orders</span>
                                <span class="h6">23</span>
                            </li>
                            <li sec:authorize="hasAuthority('SELLER')" class="list-inline-item m-2">
                                <i class="ti-book text-primary"></i>
                                <span class="d-block">Products</span>
                                <span class="h6">15</span>
                            </li>
                            <li sec:authorize="hasAuthority('BUYER')" class="list-inline-item m-2">
                                <i class="ti-star text-primary"></i>
                                <span class="d-block">Reviews</span>
                                <span class="h6">10</span>
                            </li>
                            <li sec:authorize="hasAuthority('BUYER')" class="list-inline-item m-2">
                                <i class="ti-user text-primary"></i>
                                <span class="d-block">Followed Sellers</span>
                                <span class="h6" th:text="${session.loggedInUser.followedSellers.size()}">23</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body border-bottom">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="d-block">Email address:</span>
                                <p class="h6" th:text="${session.loggedInUser.email}"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>
                            Social Profile:
                        </p>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-facebook iconbox iconbox-sm">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-twitter iconbox iconbox-sm">
                                    <i class="ti-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-google-plus iconbox iconbox-sm">
                                    <i class="ti-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-outline-linkedin iconbox iconbox-sm">
                                    <i class="ti-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- END col-md-4 -->
            <div class="col-lg-8 mt-4">
                <div class="card shadow-v1 padding-30">
                    <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist" id="tabs">
                        <li class="nav-item">
                            <a class="nav-link active"
                               data-toggle="tab" href="#products" role="tab"
                               aria-selected="true">
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               data-toggle="tab" href="#addresses" role="tab" aria-selected="true">
                                Addresses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               data-toggle="tab" href="#payment" role="tab" aria-selected="true">
                                Payment Methods
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active" id="products" role="tabpanel">
                            <!--                            th:class="${active} != 'true' ?'tab-pane fade show active' : 'tab-pane fade'"-->
                        </div> <!-- END tab-pane -->
                        <div class="tab-pane fade" id="addresses" role="tabpanel">
                            <!--                            th:class="${active} == 'addresses' ?'tab-pane fade show active' : 'tab-pane fade'"-->
                            <form th:object="${shippingAddress}" th:action="@{/profile/shipping}" method="POST"
                                  class="px-lg-4 mb-xl-5">
                                <div class="form-group mb-0 align-content-center" style="text-align: center">
                                    <label><h3>Shipping Address</h3></label>
                                </div>
                                <input type="hidden" class="form-control" th:field="*{id}">

                                <div class="form-group mb-0">
                                    <label>Street</label>
                                    <input type="text" class="form-control" th:field="*{street}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('street')}"
                                       th:errors="*{street}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>City</label>
                                    <input type="text" class="form-control" th:field="*{city}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('city')}"
                                       th:errors="*{city}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>State</label>
                                    <input type="text" class="form-control" th:field="*{state}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('state')}"
                                       th:errors="*{state}"></small>

                                <div class="form-group mt-3 mb-3">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" th:field="*{zipcode}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('zipcode')}"
                                       th:errors="*{zipcode}"></small>
                                <button class="btn btn-outline-primary float-right ml-3" type="submit">Save Address
                                </button>
                                <a th:if="*{id != null}" class="btn btn-outline-primary float-right"
                                   th:href="@{/profile/address/delete(id=*{id})}">Remove</a>
                            </form>

                            <br/>

                            <form th:object="${billingAddress}" th:action="@{/profile/billing}" method="POST"
                                  class="px-lg-4 mt-5">
                                <div class="form-group mb-0 align-content-center" style="text-align: center">
                                    <label><h3>Billing Address</h3></label>
                                </div>
                                <input type="hidden" class="form-control" th:field="*{id}">

                                <div class="form-group mb-0">
                                    <label>Street</label>
                                    <input type="text" class="form-control" th:field="*{street}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('street')}"
                                       th:errors="*{street}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>City</label>
                                    <input type="text" class="form-control" th:field="*{city}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('city')}"
                                       th:errors="*{city}"></small>

                                <div class="form-group mt-3 mb-0">
                                    <label>State</label>
                                    <input type="text" class="form-control" th:field="*{state}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('state')}"
                                       th:errors="*{state}"></small>

                                <div class="form-group mt-3 mb-3">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" th:field="*{zipcode}">
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('zipcode')}"
                                       th:errors="*{zipcode}"></small>
                                <button class="btn btn-outline-primary float-right ml-3" type="submit">Save Address
                                </button>
                                <a th:if="*{id != null}" class="btn btn-outline-primary float-right"
                                   th:href="@{/profile/address/delete(id=*{id})}">Remove</a>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="payment" role="tabpanel">
                            <form th:object="${payment}" th:action="@{/profile/payment}" method="POST" class="p-4 ">
                                <h4 class="mb-3">Card Type</h4>
                                <input type="hidden" class="form-control" th:field="*{id}">
                                <div class="mb-2">
                                    <select class="custom-select d-block w-100" th:field="*{type}">
                                        <option value="Credit">Credit</option>
                                        <option value="Debit">Debit</option>
                                    </select>
                                </div>
                                <small class="text-danger" th:if="${#fields.hasErrors('type')}"
                                       th:errors="*{type}"></small>

                                <hr class="mb-4">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-name">Name on card</label>
                                        <input type="text" class="form-control" id="cc-name" th:field="*{cardName}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('cardName')}"
                                               th:errors="*{cardName}"></small>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="cc-number">Credit card number</label>
                                        <input type="text" class="form-control" id="cc-number" th:field="*{cardNumber}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('cardNumber')}"
                                               th:errors="*{cardNumber}"></small>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration"
                                               th:field="*{expiration}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('expiration')}"
                                               th:errors="*{expiration}"></small>
                                    </div>

                                    <div class="col-md-3 mb-3">
                                        <label for="cc-cvv">CVV</label>
                                        <input type="text" class="form-control" id="cc-cvv" th:field="*{cvv}">
                                        <small class="text-danger" th:if="${#fields.hasErrors('cvv')}"
                                               th:errors="*{cvv}"></small>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <button class="btn btn-outline-primary float-right ml-3" type="submit">Save Payment
                                </button>
                                <a th:if="*{id != null}" class="btn btn-outline-primary float-right"
                                   th:href="@{/profile/payment/delete(id=*{id})}">Remove</a>
                                </button>
                            </form>
                        </div>
                    </div> <!-- END tab-content-->
                </div> <!-- END card-->
            </div> <!-- END col-md-8 -->
        </div> <!--END row-->
    </div> <!--END container-->
</section>
<select layout:fragment="scripts">
    <script th:if="${active == 'payment'}">
        $('#tabs a[href="#payment"]').tab('show')
    </script>
    <script th:if="${active == 'addresses'}">
        $('#tabs a[href="#addresses"]').tab('show')
    </script>
    <script th:if="${active == 'products'}">
        $('#tabs a[href="#products"]').tab('show')
    </script>
</select>
</body>
</html>