<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/_layout}">
<head>
    <title>Checkout</title>
</head>
<body>
    <div layout:fragment="breadcrumb" class="py-5 bg-light-v2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>Checkout</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end bg-transparent">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a th:href="@{/products/}"> Shop</a>
                        </li>
                        <li class="breadcrumb-item">
                            Checkout
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section layout:fragment="content" class="padding-y-150">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span>Your cart</span>
                        <span th:text="${cart != null ? cart.items.size() : '0'}" class="badge badge-primary badge-pill">0</span>
                    </h4>
                    <ul th:if="${cart != null}" class="list-group mb-3">
                        <li th:each="item : ${cart.items}" class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 th:text="${item.product.title}" class="my-0">Product name</h6>
                            </div>
                            <span th:text="${item.quantity == 1} ? '$' + ${item.product.price} : '$' + ${item.product.price} + ' (x' + ${item.quantity} + ')'" class="text-muted">$0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong th:text="'$' + ${cart.totalSum}">$0</strong>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 order-md-1">

                    <div th:if="${shippingAddress != null}" class="card card-body border border-light mb-4">
                        <h4 class="mb-3">Shipping address</h4>
                        <p th:text="${shippingAddress}" class="mb-0"></p>
                        <a th:href="@{/profile/}" class="btn btn-link align-self-end">Change shipping address</a>
                    </div>

                    <div th:if="${billingAddress != null}" class="card card-body border border-light mb-4">
                        <h4 class="mb-3">Billing address</h4>
                        <p th:text="${billingAddress}" class="mb-0"></p>
                        <a th:href="@{/profile/}" class="btn btn-link align-self-end">Change billing address</a>
                    </div>

                    <hr class="mb-4">
                    <button id="btnPlaceOrder" class="btn btn-primary btn-lg btn-block has-spinner" type="submit">Place order</buttonid>
                </div>
            </div>
        </div> <!-- END container-->
    </section>

    <section layout:fragment="scripts">
        <script>
            $(function () {
                $("#btnPlaceOrder").on('click', placeOrder);
            });

            function placeOrder() {
                $("#btnPlaceOrder").buttonLoader('start');
                $.ajax({
                    type: "POST",
                    url: "/shoppingcart/doCheckout",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        if (ProceedResult(data)) {
                            window.location.href = "/shoppingcart/checkoutsuccess";
                            // NotificationSuccess("Your order placed successfully")
                            // menuShoppingCartEmpty();
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(XMLHttpRequest.responseJSON);
                    },
                    complete: function () {
                        $("#btnPlaceOrder").buttonLoader('stop');
                    }
                });
            }
        </script>
    </section>
</body>
</html>