<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/_layout}">
<head>
    <title>About Us</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-4">
                    About Our Team
                </h2>
                <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row align-items-center">
                    <div class="col-lg-7 mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h4 class="h3 mb-4">
                            <span class="text-primary d-md-block">Rustem Bayetov</span>
                            From Kazakhstan
                        </h4>
                        <p>
                            Master of Front-end but also back-end, with over 13 years of experience as a developer in IT
                            industry.
                            Specialized in C# environment <br>Married. Have son and 2 daughters. Love snowboarding and
                            coding.
                        </p>
                    </div>
                    <div class="col-lg-4 mr-auto mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <img class="w-100" src="/img/developers/Rustem.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-11 mx-auto">
                <div class="row align-items-center">
                    <div class="col-lg-4 mr-auto mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <img class="w-100" src="/img/developers/saju.jpeg" alt="">
                    </div>
                    <div class="col-lg-7 mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h4 class="h3 mb-4">
                            <span class="text-primary d-md-block">Saju Ahmad</span>
                            From Bangladesh.
                        </h4>
                        <p>
                            Innovative tech mind with 15 years of experience working as a computer programmer. Capable
                            of working with a variety of technology and software solutions, and managing databases.
                            Valuable team member who has experience diagnosing problems and developing solutions. .
                            <br/>Loves Football, Cricket and Fishing.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-11 mx-auto">
            <div class="row align-items-center mb-5">
                <div class="col-lg-7 mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <h4 class="h3 mb-4">
                        <span class="text-primary d-md-block">Islam Ahmad</span>
                        From Egypt, with Love :) .
                    </h4>
                    <p> 26 years ago, Islam started working with computers, and since then he never stopped learning about them.
                        While monitoring all the new technologies, he is also passionate about how things were made, and how to improve thm for the betterment of mankind's future.
                        <br/>Loves Technology, AudioBooks, and Walking.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto mt-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <img class="w-100" src="/img/developers/islam.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>