<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="d-md-flex justify-content-between align-items-center bg-white shadow-v1 rounded mb-4 py-4 px-5 hover:transformLeft">
    <div class="media align-items-center">
        <div class="text-center border-right pr-4">
            <strong class="text-primary font-size-38">
                13</strong>
            <p class="mb-0 text-gray">
                Aug, 2018</p>
        </div>
        <div class="media-body p-4">
            <p class="mb-1 text-gray">
                <i class="ti-file"></i>
                Event</p>
            <a class="h5" href="page-notice-details.html">
                Best Student Spots in London
            </a>
        </div>
    </div>
    <a class="btn btn-outline-primary" href="page-notice-details.html">Read More</a>
</div>

</body>
</html>